<section class="first ">
  <div class="container">
    <div class="Intro">
      <h1>{{ titleFirst }}</h1>
      <p>{{ descriptionFirst }}</p>
    </div>
    <div class="main-image ">
      <img [src]="imageFirst" alt="Smart Energy">
    </div>
  </div>
</section>
<section class="second">
  <div class="container">
    <div class="Det ">
      <h1 class="h1">#1</h1>
      <h1 class="title"> {{ titleSecond }}</h1>
      <p>{{ descriptionSecond }}</p>
      <img [src]="dotimage" alt="dots" class="dotimage">

    </div>
    <div class="main-image">
      <img [src]="imageSecond" alt="Energy Control">
    </div>
  </div>
  <div class="container1">
    <div class="main-image">
      <img [src]="imageThird" alt="Energy Control">
    </div>
    <div class="Det ">
      <h1 class="h1">#2</h1>
      <h1 class="thirdtitle"> {{ titleThird }}</h1>
      <p>{{ descriptionThird }}</p>
      <img [src]="dotimage1" alt="dots" class="dotimage1">

    </div>
  </div>
  <div class="container2">
    <div class="Det">
      <h1 class="h1">#3</h1>
      <h1 class="title"> {{ titleFourth }}</h1>
      <p>{{ descriptionFourth }}</p>
      <img [src]="dotimage" alt="dots" class="dotimage">

    </div>
    <div class="main-image">
      <img [src]="imageFourth" alt="Energy Control">
    </div>
  </div>
  <div class="container3">
    <div class="main-image">
      <img [src]="imageFifth" alt="Energy Control">
    </div>
    <div class="Det ">
      <h1 class="h1">#4</h1>
      <h1 class="thirdtitle"> {{ titleFifth }}</h1>
      <p>{{ descriptionFifth }}</p>
      <img [src]="dotimage1" alt="dots" class="dotimage1">

    </div>
  </div>
  <div class="container4">
    <div class="Det">
      <h1 class="h1">#5</h1>
      <h1 class="title"> {{ titleSixth }}</h1>
      <p>{{ descriptionSixth }}</p>
      <img [src]="dotimage" alt="dots" class="dotimage">

    </div>
    <div class="main-image">
      <img [src]="imageSixth" alt="Energy Control">
    </div>
  </div>
  <div class="container5">
    <div class="main-image">
      <img [src]="imageSeventh" alt="Energy Control">
    </div>
    <div class="Det ">
      <h1 class="h1">#6</h1>
      <h1 class="thirdtitle"> {{ titleSeventh }}</h1>
      <p>{{ descriptionSeventh }}</p>
    </div>
  </div>
</section>
