<section>
  <div class="container">
    <div class="downloads">
      <div>
      <h1>Download WattWatcher Today!</h1>
      <p>Take control of your energy consumption with our smart and easy-to-use app. Available now on your favorite
        platforms.</p>
      </div>
      <div>
        <img [src]="mainImage" alt="WattWatcher" class="mainimage">
      </div>
    </div>
    <button><img [src]="image1"></button>
    <button><img [src]="image2"></button>
  </div>
</section>

<section class="second">
  <h1>{{ title }}</h1>
  <div class="container">
    <div class="Det">
      <div class="main-image">
        <img [src]="icon1" >
      </div>
      <p>{{ descriptionSecond }}</p>
    </div>
    <div class="Det">
      <div class="main-image">
        <img [src]="icon2" >
      </div>
      <p>{{ descriptionSecond2 }}</p>
    </div>
    <div class="Det">
      <div class="main-image">
        <img [src]="icon3" >
      </div>
      <p>{{ descriptionSecond3 }}</p>
    </div>
    <div class="Det">
      <div class="main-image">
        <img [src]="icon4" >
      </div>
      <p>{{ descriptionSecond4 }}</p>
    </div>
  </div>
</section>
